<html>
    <head>
        <title>0x000</title>
    </head>
    <body>
      <p> <b> Visual Impairments or Print disabilities </b> Being able to read printed material (weekly readings). <br> <br>

      Being able to read the markings on a blood pressure cuff dial.<br><br>

      Being able to visualize lecture material as it is being presented in real time. <br><br>

      Being able to read handouts<br><br></p>

      <table style="width:100%">
        <tr>
          <th>Solutions</th>
          <th>Technology</th>
        </tr>

        <tr>
          <td>E-book with read-aloud feature
      (Lippincott, the school’s textbook publisher has this feature on all their texts.  E-books are required for all nursing students)
      </td>
          <td>E-book<br>
      Utilize e-reader capabilities of e-book for ease of reading.
      </td>
        </tr>

        <tr>
          <td>Depending on severity of impairment, may position student near the front of class. </td>
          <td>None</td>
        </tr>

        <tr>
          <td>If photophobic, ensure that blinds are pulled down to reduce outside glare.  Consider change in overhead fluorescent lights to lighting that is less harsh or use of lighting covers to reduce glare. </td>
          <td>Window shades <br>
      Non-fluorescent lights<br>
      Light covers
      </td>
        </tr>

        <tr>
          <td>For lecture portion of class, handouts should be enlarged to appropriate size.</td>
          <td>Photocopier to allow for enlargements
      </td>
        </tr>

        <tr>
          <td>Provide ability to visualize lecture notes to the greatest extent by using technologic devices to “mirror’ what is being displayed in front of the class. </td>
          <td>
      iPad, Laptop that can interface with Learning Management System (LMS) during lecture so student can follow along</td>
        </tr>

        <tr>
          <td>Provide Blood Pressure cuff with high contrast dial and enlarged numbers to allow for easier reading. Clock in skills lab with enlarged, high-contrast numbers for measure of heart rate. </td>
          <td>Adaptive Blood Pressure cuff</td>
        </tr>

        <tr>
          <td>Ensure that school website and Learning Management System (Moodle) is web accessible and include alt text for any photos or pertinent images. </td>
          <td>Students will be able to utilize screen reader such as JAWA or NVDA which will enable computer/device to read content to the student.</td>
        </tr>
      </table>
      <br><br>

      <p> <b> Hearing impairment  </b> Being able to hear heart sounds, being able to hear Korotkoff sounds to be able to distinguish for Blood Pressure measurement. </p>

      <table style="width:100%">
        <tr>
          <th>Solutions</th>
          <th>Technology</th>
        </tr>

        <tr>
          <td>For any videos shown in class or for home viewing, ensure that there is closed captioning.</td>
          <td>Closed-captioned videos.</td>
        </tr>

        <tr>
          <td>Use amplifying microphone for classroom and laboratory speaking.</td><td>FM microphone setup. </td>
        </tr>

        <tr>
          <td>Provide amplified stethoscope that will allow sounds to be artificially amplified for students who do not have total hearing loss.</td> <td>Amplified stethoscope
      </td>
        </tr>

        <tr>
          <td>If wearing masks (due to COVID-19) wear mask with clear window for visualization of mouth for students who may lip-read.</td> <td>Facemask with clear “window” to allow for mouth visualization.</td>
        </tr>
      </table>
      <br><br>
      <p><b>Physical Immobility (due to Wheelchair)</b>Being able to access classrooms, labs, and clinical areas.</p>
      <table>
        <tr>
          <td>Provide w/c accessible classrooms that are accessible via elevator if located on more than one floor</td>
          <td>Ramp, elevator, widened doorways, push switch for automatic door opening.</td>
        </tr>
        <tr>
          <td>Sink, hand-sanitizer at accessible levels in classrooms and skills lab.</td>
          <td>Adaptive sink or placement of sink / hand-sanitizer station at an accessible level.</td>
        </tr>
        <tr>
          <td>Use hospital “bedside table” as workspace for measurement of blood pressure, placement of arm for measure of pulse.</td>
          <td>None, use of current bedside tables located in skills lab.</td>
        </tr>
      </table> <br><br>
      <p><b>Difficulty understanding vocabulary</b>Being able to understand complex, multi-component words.</p><br><br>
      <table>
        <tr>
          <td>Review of vocabulary during lecture. Provide handouts of medical terminology vocabulary with associated meaning.</td>
          <td>None.</td>
        </tr>
      </table><br><br>
      <p><b>Reading, Linguistic, Verbal disabilities</b>Being able to comprehend and understand written words.</p>

      <table>
        <tr>
          <td>Depending upon the particular disability.  In lecture, PowerPoint presentations will include not only concepts in writing, but also pictures / clipart that represent the concepts being discussed.</td>
          <td>Photos, clipart</td>
        </tr>
        <tr>
          <td>Use of videos that will reinforce concepts being lectured upon in class.</td>
          <td>YouTube.  May need to work with student regarding narration speed which could be slowed down on personal devices if needed.</td>
        </tr>
        <tr>
          <td>Provide reinforcement of concepts through lecture (spoken), PowerPoint (visual), and demonstration (kinaesthetic) by displaying, handling tools to be used (stethoscope, BP cuff, clock).</td>
          <td>Laboratory equipment.</td>
        </tr>
        <tr>
          <td>Avoid use of non-literal text as sarcasm or satire may not be readily understood.</td>
          <td>None.</td>
        </tr>
      </table><br><br>
      <p><b>Fine motor / handwriting impairments</b><br>Being able to write or draw<br>Being able to manipulate equipment such as a BP cuff or stethoscope.</p>
      <table>
        <tr>
          <td>Allow student to record lecture or provide lecture cast recording.  Provide written notes, handouts, and adaptive equipment.</td>
          <td>Depending on severity of fine motor impairment, may be able to adapt BP cuff for alternative method of inflation/deflation.</td>
        </tr>
      </table><br><br>

    </body>
</html>
